.formulario th {
    text-align: right;
    vertical-align: top;
}

.eye-icon {
    position: relative;
    right: 30px;
    width: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.eye-icon:hover {
    opacity: 1;
}